body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
padding: 20px;
background-color: lightpink;
}

.navbar a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    margin: 0 20px;
}