<div class="home-page">
    <h1>Discover all about Harry Styles!</h1>
    <h2>The story of how he turned from a simple baker to the BIG STAR from today!</h2>

    <img src="/images/home-img.jpeg" alt="From baker to star">
</div>